@model IEnumerable<CafeDunyasi.Models.Posts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int index = 1;
}

<h1>Posts</h1>

<div class="card">
    <div class="card-header">
        
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>LikeCount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index).</td>
                        <td><img src="@("~/images/BusinessImages/post/" + item.Image)" style="height:100px; width:auto" asp-append-version="true" /></td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.LikeCount)</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    index = index + 1;
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>