@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CafeDunyasi.Models.BusinessInfo

@{
    ViewData["Title"] = localizer["Delete"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@localizer["Delete"]</h1>

<h3>@localizer["AreYouSure"]</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @localizer["City"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @localizer["ProfileImage"]
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/images/BusinessImages/profile/" + Model.AvatarImg)" asp-append-version="true" style="max-width:60%; height:auto;" />
        </dd>
        <dt class="col-sm-2">
            @localizer["MenuImage"]
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/images/BusinessImages/menu/" + Model.MenuImg)" asp-append-version="true" style="max-width:60%; height:auto;" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">@localizer["BackToList"]</a>
    </form>
</div>
