@model CafeDunyasi.Models.BusinessInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BusinessInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvatarImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuImg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
