@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CafeDunyasi.Models.BusinessInfo

@{
    ViewData["Title"] = localizer["Details"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@localizer["Details"]</h1>

<div>
    <h4>@localizer["BusinessInfo"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @localizer["City"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @localizer["ProfileImage"]
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/images/BusinessImages/profile/" + Model.AvatarImg)" asp-append-version="true" style="max-width:60%; height:auto;" />
        </dd>
        <dt class="col-sm-2">
            @localizer["MenuImage"]
        </dt>
        <dd class="col-sm-10">
            <img src="@("~/images/BusinessImages/menu/" + Model.MenuImg)" asp-append-version="true" style="max-width:60%; height:auto;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">@localizer["Edit"]</a> |
    <a asp-action="Index" class="btn btn-primary">@localizer["BackToList"]</a>
</div>
