@model IEnumerable<CafeDunyasi.Models.BusinessInfo>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<CafeDunyasi.Models.BusinessInfo> business = (List<CafeDunyasi.Models.BusinessInfo>)ViewData["BusinessAccounts"];
    int index = 1;
}

<h1>Index</h1>

<div class="card">
    <div class="card-header">
        <h3 style="float:right; font-size: 1.1rem; font-weight: 400; margin: 0;"><a asp-action="Create" class="btn btn-success">Create New</a></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Profile Image</th>
                    <th>Menu Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index).</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td><img src="@("~/images/BusinessImages/profile/" + item.AvatarImg)" style="height:100px; width:auto" asp-append-version="true" /></td>
                        <td><img src="@("~/images/BusinessImages/menu/" + item.MenuImg)" style="height:100px; width:auto" asp-append-version="true" /></td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    index = index + 1;
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>