@model IEnumerable<CafeDunyasi.Models.BusinessInfo>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["BusinessAccounts"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<CafeDunyasi.Models.BusinessInfo> business = (List<CafeDunyasi.Models.BusinessInfo>)ViewData["BusinessAccounts"];
    List<CafeDunyasi.Models.Users> users = (List<CafeDunyasi.Models.Users>)ViewData["Users"];
    int index = 1;
}

<h1>@localizer["BusinessAccounts"]</h1>

<div class="card">
    <div class="card-header">
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>@localizer["Name"]</th>
                    <th>@localizer["City"]</th>
                    <th>@localizer["ProfileImage"]</th>
                    <th>@localizer["MenuImage"]</th>
                    <th>@localizer["User"]</th>
                    <th>@localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index).</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            <img src="@("~/images/BusinessImages/profile/" + item.AvatarImg)" style="height:100px; width:auto" asp-append-version="true" />
                        </td>
                        <td><img src="@("~/images/BusinessImages/menu/" + item.MenuImg)" data-toggle="modal" data-target="#myModal" style="height:100px; width:auto" asp-append-version="true" /></td>
                        <td>
                            @foreach (var x in users)
                            {
                                if (item.UsersID == x.Id)
                                {
                                    <a asp-controller="Users" asp-action="Index" asp-route-data="@x.Id">@(x.Name + " " + x.Surname)</a>
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">@localizer["Details"]</a> |
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@localizer["Edit"]</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@localizer["Delete"]</a>
                        </td>
                    </tr>
                    index = index + 1;
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>