@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<CafeDunyasi.Models.Posts>

@{ ViewData["Title"] = "Home Page"; }

<div class="form-group">
    <form method="post">
        <button type="submit" name="data" class="btn btn-primary" value="all">All</button>
    </form>
    <form name="PostName" method="post" style="width:175px">
        City: <select class="form-control" asp-items="new SelectList(ViewBag.Cities)" onchange="PostName.submit()" name="data">
        </select>
    </form>
</div>
<div style="clear:both;"></div>
@{
    int i = 0;
    var like = (List<PostLikes>)ViewData["Likes"];
    string strColor = "";
}

@if (Model.Any())
{
    @foreach (var item in Model)
    {

        if (i % 2 == 0)
        {
            <div style="clear:left;"></div>
        }
        i++;
        
        <div class="post">
            <div class="up">
                <img src="@("~/images/BusinessImages/profile/" + @ViewBag.profileImg)" style="height:40px; width:40px auto; border-radius:20px" asp-append-version="true" />
                <a asp-controller="Profile" asp-action="Index" asp-route-data="@item.UserID">@ViewBag.BusinessName</a>
            </div>
            <img src="@("~/images/BusinessImages/post/" + item.Image)" class="img" asp-append-version="true" />
            <div class="bottom">
                @if (item.Description != "" && item.Description != null)
                {
                    <div>Description: @item.Description</div>
                }
                @foreach (var x in like)
                {
                    <input type="hidden" id="postid" name="postid" value="@item.Id">
                    @if (x.PostID == item.Id)
                    {
                        strColor="blue";
                        
                    }
                    else
                    {
                        strColor="black";
                    }
                    <button onclick="likeAt(@item.Id)" id="likeButton" name="data" style="all: unset; cursor: pointer;" value="unlike"><i class="fa fa-heart" style="font-size:24px;  color: @(strColor)"></i></button>
                }
                @item.LikeCount
            </div>
        </div>
    }
}
else
{
    <font style="font-size:28px">No posts yet.</font>
}

<script type="text/javascript">
    function likeAt(_id) {
        //console.log(_id);
        //alert(_id);
        debugger;
        $.ajax({
            url: '@Url.Action("Like","Home")',
            data: {
                postId: _id
            },
            error: function () {
                alert("error");
            },
            dataType: 'jsonp',
            success: function (data) {
                var a = document.getElementById('likeButton');
                if (a.style.color == 'black') {
                    a.style.color = 'blue';
                } else {
                    a.style.color = 'black';
                }

                //if (_whichButton == "blue") {
                //    var a = document.getElementById('likeButton');
                //    a.style.color = 'black';
                //} else {
                //    var a = document.getElementById('black');
                //    a.style.color = 'blue';
                //}
            },
            type: 'GET'
        });
    }
</script>