@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<CafeDunyasi.Models.Posts>

@{ ViewData["Title"] = @localizer["Explore"]; }

<div class="form-group">
    <form name="PostName" method="post" style="width:175px">
        @localizer["City"]: <select class="form-control" asp-items="new SelectList(ViewBag.Cities)" onchange="PostName.submit()" name="data">
        </select>
    </form>
    <form method="post" style="margin-top:10px;">
        <button type="submit" name="data" class="btn btn-primary" value="all">@localizer["All"]</button>
    </form>
</div>
<div style="clear:both;"></div>
@{
    int i = 0;
    var like = (List<PostLikes>)ViewData["Likes"];
    var business = (List<BusinessInfo>)ViewData["businessInfo"];
    bool tmp = false;
}

@if (Model.Any())
{
    @foreach (var item in Model)
    {

        if (i % 2 == 0)
        {
            <div style="clear:left;"></div>
        }
        i++;

        <div class="post">
            <input type="hidden" id="postid" name="postid" value="@item.Id">
            <div class="up">
                @foreach (var y in business)
                {
                    @if (y.UsersID == item.UserID)
                    {
                        <img src="@("~/images/BusinessImages/profile/" + @y.AvatarImg)" style="height:40px; width:40px; border-radius:20px" asp-append-version="true" />
                        <a asp-controller="Profile" asp-action="Index" asp-route-data="@item.UserID">@y.Name</a>
                    }
                }
            </div>
            <img src="@("~/images/BusinessImages/post/" + item.Image)" class="img" asp-append-version="true" />
            <div class="bottom">
                @if (item.Description != "" && item.Description != null)
                {
                    <div>@localizer["Description"]: @item.Description</div>
                }
                <div>@localizer["Date"]: @item.Date</div>
                @foreach (var x in like)
                {
                    @if (tmp == false)
                    {
                        @if (x.PostID == item.Id)
                        {
                            <button onclick="likeAt('@(item.Id)', '@(item.Id+item.UserID)')" name="data" style="all: unset; cursor: pointer; float:left; margin-right:5px"><i class="fa fa-heart" style="font-size:24px; color:blue" id="@item.Id"></i></button>
                        }
                        else
                        {
                            <button onclick="likeAt('@(item.Id)', '@(item.Id+item.UserID)')" name="data" style="all: unset; cursor: pointer; float:left; margin-right:5px"><i class="fa fa-heart" style="font-size:24px; color:black" id="@item.Id"></i></button>
                        }
                        tmp = true;
                    }
                }
                @if (tmp == false)
                {
                    <button onclick="likeAt('@(item.Id)', '@(item.Id+item.UserID)')" name="data" style="all: unset; cursor: pointer; float:left; margin-right:5px"><i class="fa fa-heart" style="font-size:24px; color:black" id="@item.Id"></i></button>
                }

                @{
                    tmp = false;
                }
                <div id="@(item.Id+item.UserID)">@item.LikeCount</div>
            </div>
        </div>
    }
}
else
{
    <font style="font-size:28px">@localizer["NoPostsYet"].</font>
}

<script type="text/javascript">
    function likeAt(_id, _likeCount) {
        //console.log(_id); alert(_id); debugger;
        $.ajax({
            url: '@Url.Action("Like","Home")',
            data: {
                postId: _id
            },
            dataType: 'json',
            success: function (data) {
                var a = document.getElementById(_id);
                if (a.style.color === 'black') {
                    a.style.color = 'blue';
                } else {
                    a.style.color = 'black';
                }
                document.getElementById(_likeCount).textContent = data;
            },
            error: function () {
                alert("error");
            },
            type: 'GET'
        });
    }
</script>