@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
</head>
<body style="background-color: #ff611d">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="background: linear-gradient(180deg, rgba(255,184,14,1) 0%, rgba(255,184,14,1) 58%, rgba(255,126,24,1) 79%, rgba(255,97,29,1) 100%);">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@localizer["ProjectName"]</a>*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/navbar-brand.png" style="height:32px; width:auto" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Explore"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PostsOfFollowedCafes" asp-action="Index">@localizer["PostsOfFollowedCafes"]</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("BusinessAccount"))
                            {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">@localizer["SendPost"]</a>
                        </li>
                            }
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
                                    </li>
                            }
                         }
                        <li class="nav-link">
                            <partial name="_Culture" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="margin-bottom:75px"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div style="clear:both;"></div>

    <footer class="footer text-muted" style="background: linear-gradient(0deg, rgba(255,184,14,1) 0%, rgba(255,184,14,1) 58%, rgba(255,126,24,1) 79%, rgba(255,97,29,1) 100%);">
        <div class="container">
            &copy; 2021 - Cafe Dünyası
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
