@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CafeDunyasi.Models.Users
@{
    ViewData["Title"] = localizer["Delete"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@localizer["Delete"]</h1>

<h3>@localizer["AreYouSure"]</h3>
<div>
    <h4>Posts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @localizer["Surname"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @localizer["BusinessAccount"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BusinessAccount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">@localizer["BackToList"]</a>
    </form>
</div>
