@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model CafeDunyasi.Models.Users

@{
    ViewData["Title"] = localizer["Edit"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<CafeDunyasi.Models.BusinessInfo> business = (List<CafeDunyasi.Models.BusinessInfo>)ViewData["BusinessAccounts"];
}

<h1>@localizer["Edit"]</h1>

<h4>@localizer["User"]</h4>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AccessFailedCount" />
                <input type="hidden" asp-for="BusinessAccount" />
                <input type="hidden" asp-for="ConcurrencyStamp" />
                <input type="hidden" asp-for="EmailConfirmed" />
                <input type="hidden" asp-for="LockoutEnabled" />
                <input type="hidden" asp-for="LockoutEnd" />
                <input type="hidden" asp-for="NormalizedEmail" />
                <input type="hidden" asp-for="NormalizedUserName" />
                <input type="hidden" asp-for="PasswordHash" />
                <input type="hidden" asp-for="PhoneNumber" />
                <input type="hidden" asp-for="PhoneNumberConfirmed" />
                <input type="hidden" asp-for="SecurityStamp" />
                <input type="hidden" asp-for="TwoFactorEnabled" />
                <input type="hidden" asp-for="UserName" />
                <div class="form-group">
                    @localizer["Email"]
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @localizer["Name"]
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @localizer["Surname"]
                    <input asp-for="Surname" class="form-control" required />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <strong>@localizer["BusinessAccount"]</strong><br />
                    @{
                        if (Model.BusinessAccount == true)
                        {
                            foreach (var x in business)
                            {
                                if (Model.Id == x.UsersID)
                                {
                                    <a asp-controller="BusinessAccounts" asp-action="Index" asp-route-data="@x.Id">@(x.Name)</a>
                                }
                            }
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.BusinessAccount)
                        }
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="@localizer["Save"]" class="btn btn-success" /> |
                    <a asp-action="Index" class="btn btn-primary">@localizer["BackToList"]</a>
                </div>
            </form>
        </div>

    </div>