@model IEnumerable<CafeDunyasi.Models.Users>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Users"];
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<CafeDunyasi.Models.BusinessInfo> business = (List<CafeDunyasi.Models.BusinessInfo>)ViewData["BusinessAccounts"];
    int index = 1;
}

<h1>@localizer["Users"]</h1>

<div class="card">
    <div class="card-header">
        <h3 style="float:right; font-size: 1.1rem; font-weight: 400; margin: 0;"><a asp-action="Create" class="btn btn-success">@localizer["CreateNew"]</a></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>@localizer["EMail"]</th>
                    <th>@localizer["Name"]</th>
                    <th>@localizer["Surname"]</th>
                    <th>@localizer["BusinessAccount"]</th>
                    <th>@localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(index).</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                        <td>
                            @{
                                if (item.BusinessAccount == true)
                                {
                                    foreach (var x in business)
                                    {
                                        if (item.Id == x.UsersID)
                                        {
                                            <a asp-controller="BusinessAccounts" asp-action="Index" asp-route-data="@x.Id">@(x.Name)</a>
                                        }
                                    }
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.BusinessAccount)
                                }
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">@localizer["Edit"]</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@localizer["Delete"]</a>
                        </td>
                    </tr>
                    index = index + 1;
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>