@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model CafeDunyasi.Models.Posts

@{
    ViewData["Title"] = @localizer["Delete"];
}

<h1>@localizer["Delete"]</h1>

<h3>@localizer["SureDelete"]</h3>
<div>
    <hr />
    <div class="postSingle">
        <div class="up">
        </div>
        <img src="@("~/images/BusinessImages/post/" + Model.Image)" class="img" asp-append-version="true" />
        <div class="bottom">
            <dl class="row" style="margin-left:0px">
                <dt>
                    @localizer["Description"]:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <div class="form-group">
                @localizer["Date"]:
                @Html.DisplayFor(model => model.Date)
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@localizer["Delete"]" class="btn btn-danger" style="margin-right:10px" />|
        <a asp-action="Index" class="btn btn-primary" style="margin-left:10px">@localizer["ReturnToPosts"]</a>
    </form>
</div>
