@model IEnumerable<CafeDunyasi.Models.Posts>

@{
    ViewData["Title"] = "Post Ayarları";
}

<h1>Post Settings</h1>

<p>
    <a asp-action="Create" class="btn btn-success">New Post</a>
</p>

@{ 
    int i = 0;
}

@foreach (var item in Model)
{

    if (i % 2 == 0)
    {
        <div style="clear:left;"></div>
    }
    i++;


    <div class="post">
        <div class="up">
            @*<img src="@("~/images/BusinessImages/post/" + item.Image)" style="height:40px; width:auto; border-radius:20px" />
                Berkay Şahin*@
        </div>
        <img src="@("~/images/BusinessImages/post/" + item.Image)" class="img" asp-append-version="true" />
        <div class="bottom">
            @if (item.Description != "" && item.Description != null)
            {
            <div>Description: @item.Description</div>
            }
            
            <i class="fa fa-heart" style="font-size:24px"></i> 5234
            <br />

            <div style="margin-top:10px"></div>

            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light" style="margin-right:10px">Edit</a>|
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-left:10px;">Delete</a>

            <div style="clear:both;"></div>
        </div>
    </div>
}
